*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    transition: all 0.5s;
}

/**********************HEADER SECTION****************************/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
}


.header .container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
}


.header .logo img {
    height: 50px;
    width: 200px;
    display: block;
}

li{
    list-style: none;
}

.header .links {
    display: flex;
}

.header .links_header {
    display: flex;
    gap: 20px; 
}

.header .links_header li a {
    text-decoration: none;
    color: #333; 
    font-weight: 500;
    padding: 10px;
    transition: color 0.3s ease; 
}

.header .links_header li a:hover {
    color: #000; 
    font-weight: bold;
}

/***********************HOME SECTION***************************/

.home{
    width: 100%;
    padding: 50px 20px;
}

.home .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 130px 0;
}

.home_right{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* width: 50%; */
}

.bg_title{
    font-size: 32px;
    font-weight: 700;
}
.sm_title{
    width: 100%;
}

/*********************PHOTO ANIMATIONS *********************/

.home_left {
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_r{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


.turkistan_photo {
    width: 600px;
    height: 200px;
    object-fit: cover;
    animation: wave 4s ease-in-out infinite; 
}
@keyframes wave {
    0%, 100% {
        clip-path: inset(0% 0% 0% 0%);
    }
    25% {
        clip-path: inset(2% 0% 2% 0%);
    }
    50% {
        clip-path: inset(0% 2% 0% 2%);
    }
    75% {
        clip-path: inset(2% 2% 2% 2%);
    }
}

/****************************ABOUT SECTION***************************/

.about .container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: #100f0f;
    color: #fff;
    padding: 10px 20px; 
    height: 100vh;
}

.info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.info .sm_title{
    width: 70%;
}

.video{
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0 ;
}
